.navbar {
    color: black;
    box-shadow: 2px 2px 5px #3292a6;
    position: fixed;
}

#navba .h:hover {
    background: #333;
    color: whitesmoke;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.home {
    background: url("mountains.jpg");
    background-size: cover;
    min-height: 600px;
    background-position: center;
}

#ho {
    position: relative;
}

#ho .img-overlay {
    background: rgba(50, 146, 166, 0.8);
}

.subscribe {
    background-color: #333;
}

.info-header {
    margin: auto;
    width: 50%;
}

.imagec {
    margin-top: -50px;
}

#author .fa {
    font-size: 25px;
    padding: 5px;
}

#author .fa:hover {
    background: #3292a6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}